body {
	font-family: "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	color: white;
	margin: 0px;
}

h1 {
	text-align: center;
	font-weight: bold; color: #FFFFFF;
	background-color: #888888;
	margin-top: 0px;
}
h2 {
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #888888;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 span {
	margin-left:5%;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	border-width : 0px 0px 1px 5px;
	border-style : solid ;
	border-width: thin;
	border-color : #A9A9A9;
	background-color: #A9A9A9;
	padding-left : 5%;
	padding-right: 5%;
}

p {
	color: #000000; margin-left:5%; margin-right:5%;
}

a:link    { color: #3535FF }
a:visited { color: #8135FF }
a:hover   { color: #CD35FF }

pre {
	color: #000000; margin-left:5%; margin-right:5%;
}


ul {
	list-style-type: square;
	margin-right:5%;
}
ol {
	list-style-type: 1;
	margin-left:5%;
	margin-right:5%;
	padding-left: 0;
}

li {
	color: #000000;
	margin-left:5%;
	margin-top: 8px;
	margin-bottom:8px;
}
